<div class="news">
    <div class="grid wide">
        <div class="news__header row sm-gutters">
            <div class="news__header-left col l-6 m-12 c-12">
                <a href="" class="news__header-left__img">
                    <img src="/images/new-1.jpg" alt="">
                    <div class="text-overlay">
                        <p class="text-overlay__date">04/04/2024</p>
                        <p class="text-overlay__content">Video bóng đá Công an Hà Nội - SLNA: Sai lầm và siêu phẩm, đẳng cấp Quang Hải (V-League)</p>
                    </div>
                    <div class="gradient-overlay"></div>
                </a>
            </div>

            <div class="news__header-right col l-6 m-12 c-12">
                <p>Tiếp đón SLNA trên sân nhà, Công an Hà Nội đã gặp vô vàn khó khăn trước lối chơi phòng ngự chặt chẽ, 
                    khoa học của đối thủ. Trong suốt hiệp 1, đội chủ nhà tổ chức nhiều pha phối hợp tấn công nhưng lại 
                    thiếu đi tính đột biến, chủ yếu dựa vào nỗ lực cá nhân của Quang Hải, Geovane hay Hồ Tấn Tài.
                    Phía đối diện, không chỉ hoàn thành tốt nhiệm vụ vô hiệu hóa dàn sao tấn công Công an Hà Nội, 
                    SLNA cũng không ít lần khiến khung thành đối thủ rung chuyển. Đáng chú ý nhất phải kể đến tình huống 
                    Nguyễn Filip vất vả cứu thua sau cú dứt điểm hiểm hóc của Olaha trong vòng cấm địa ở phút thứ 7.
                    Bước sang hiệp 2, sức ép mà Công an Hà Nội tạo ra trước khung thành SLNA càng lúc càng lớn. 
                    Phút 55, Elias đưa bóng vào lưới đội khách nhưng trọng tài không công nhận bàn thắng vì lỗi việt vị. 
                    Đội chủ nhà không phải tiếc nuối quá lâu bởi chỉ 4 phút sau, Văn Thanh đã tận dụng khoảnh khắc sai lầm 
                    của trung vệ Zebic để ghi bàn khai thông bế tắc. Khoảng thời gian còn lại, những gì SLNA làm được chỉ là 
                    bàn thắng không được công nhận vì lỗi việt vị ở phút 69. Không những vậy, họ còn nhận bàn thua thứ 2 sau 
                    pha đá phạt đẳng cấp của Quang Hải, qua đó chấp nhận thất bại 0-2 chung cuộc. Với kết quả này, thầy trò HLV 
                    Kiatisak củng cố vững chắc vị trí nhì bảng V-League (28 điểm/15 trận), kém đội xếp trên Nam Định 4 điểm.
                </p>
            </div>
        </div>

        <div class="row sm-gutters">
            <div class="news__content-hotNew col l-12 m-12 c-12">
                <h1>Tin nổi bật</h1>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <a href="" class="news__content-item">
                    <div class="news__content-item__img">
                        <img src="/images/new-1.jpg" alt="">
                    </div>
                    <div class="news__content-item__title">
                        <h4>Video bóng đá Công an Hà Nội - SLNA: Sai lầm và siêu phẩm, đẳng cấp Quang Hải (V-League)</h4>
                    </div>
                    <p>VTV</p>
                    <p>8 days ago</p>
                </a>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <a href="" class="news__content-item">
                    <div class="news__content-item__img">
                        <img src="/images/new-1.jpg" alt="">
                    </div>
                    <div class="news__content-item__title">
                        <h4>Video bóng đá Công an Hà Nội - SLNA: Sai lầm và siêu phẩm, đẳng cấp Quang Hải (V-League)</h4>
                    </div>
                    <p>VTV</p>
                    <p>8 days ago</p>
                </a>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <a href="" class="news__content-item">
                    <div class="news__content-item__img">
                        <img src="/images/new-1.jpg" alt="">
                    </div>
                    <div class="news__content-item__title">
                        <h4>Video bóng đá Công an Hà Nội - SLNA: Sai lầm và siêu phẩm, đẳng cấp Quang Hải (V-League)</h4>
                    </div>
                    <p>VTV</p>
                    <p>8 days ago</p>
                </a>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <a href="" class="news__content-item">
                    <div class="news__content-item__img">
                        <img src="/images/new-1.jpg" alt="">
                    </div>
                    <div class="news__content-item__title">
                        <h4>Video bóng đá Công an Hà Nội - SLNA: Sai lầm và siêu phẩm, đẳng cấp Quang Hải (V-League)</h4>
                    </div>
                    <p>VTV</p>
                    <p>8 days ago</p>
                </a>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <a href="" class="news__content-item">
                    <div class="news__content-item__img">
                        <img src="/images/new-1.jpg" alt="">
                    </div>
                    <div class="news__content-item__title">
                        <h4>Video bóng đá Công an Hà Nội - SLNA: Sai lầm và siêu phẩm, đẳng cấp Quang Hải (V-League)</h4>
                    </div>
                    <p>VTV</p>
                    <p>8 days ago</p>
                </a>
            </div>
        </div>
    </div>
</div>