<div class="prd">
    <div class="prd-page wide grid">
    
    
        <div class="prd-box">
            <div class="prd-boxName"> 
                <h1>
                    SẢN PHẨM
                </h1>
            </div>
            <div class="prd-box-list"> 
               <div class="prd-item">
                    <a class="prd-box-item" href="product/detail">
                        <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
                        <h2 class="  prd-title" >
                            Bao bì may mặc
                        </h2>
                        <h3 class="prd-price" >
                            Mua Ngay
                        </h3>
                    </a>
               </div>
               <div class="prd-item">
                <a class="prd-box-item" href="">
                    <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
                    <h2 class="  prd-title" >
                        Bao bì may mặc
                    </h2>
                    <h3 class="prd-price" >
                        Mua Ngay
                    </h3>
                </a>
           </div> <div class="prd-item">
            <a class="prd-box-item" href="">
                <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
                <h2 class="  prd-title" >
                    Bao bì may mặc
                </h2>
                <h3 class="prd-price" >
                    Mua Ngay
                </h3>
            </a>
       </div> <div class="prd-item">
        <a class="prd-box-item" href="">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> 
    <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> 
    <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div> <div class="prd-item">
        <a class="prd-box-item" href="/detail">
            <img class="prd-thumbnail" src="images/hdpe.jpg" alt="">
            <h2 class="  prd-title" >
                Bao bì may mặc
            </h2>
            <h3 class="prd-price" >
                Mua Ngay
            </h3>
        </a>
    </div>
            </div>
            <div class="pagination">
                <a href="#" class="prev">&laquo; Previous</a>
                <a href="#" class="page">1</a>
                <a href="#" class="page">2</a>
                <a href="#" class="page">3</a>
                <!-- Thêm các nút trang khác nếu cần -->
                <a href="#" class="next">Next &raquo;</a>
              </div>
        </div>
    
    </div>
</div>