<div class="prd2-container  wide grid">
    <div class="category-container">
        <div class="category-title">
            <h1>
                HDPE, LDPE
            </h1>
            <a href="">
                Xem Tất Cả
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
        <div class="category-prd">
            <div class="prdItem"></div>
            <div class="prdItem"></div>
            <div class="prdItem"></div>
            <div class="prdItem"></div>
            <div class="prdItem"></div>
            <div class="prdItem"></div>
        </div>

    </div>

    <div class="category-container">


    </div>

    <div class="category-container">


    </div>

    <div class="category-container">


    </div>

</div>