<div class="banner">
    <div class="grid wide">
        <img src="/images/1.jpg" alt="" class="slide">
        <img src="/images/2.jpg" alt="" class="slide">
        <img src="/images/3.jpg" alt="" class="slide">
        <!-- <div class="control-prev">
            <i class="bi bi-chevron-left"></i>
        </div>
        <div class="control-next">
            <i class="bi bi-chevron-right"></i>
        </div> -->
    </div>
</div>