<div class="content">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="col l-6 m-6 c-12">
                <div class="aboutUs__left">
                    <h1>VỀ <span>BAO BÌ MINH NHỰT</span></h1>
                    <p>Thành lập từ năm 2009, Công Ty TNHH Bao Bì Minh Nhựt là doanh nghiệp chuyên sản xuất bao bì nhựa cho các
                        ngành may mặc giày da, sản xuất bao bì công nghiệp, bao bì gia dụng, túi nilon khổ lớn LDPE, HDPE, PVC,
                        v.v. uy tín hàng đầu. Các sản phẩm của chúng tôi được biết đến với nhiều tính năng vượt trội như độ chính
                        xác cao, độ bền lâu và thân thiện với môi trường. Chúng tôi phục vụ cho nhu cầu của các ngành công nghiệp
                        khác nhau như may mặc và điện tử.
                    </p>
                </div>
            </div>
        
            <div class="col l-6 m-6 c-12">
                <div class="aboutUs__right">
                    <img src="/images/about-img.jpg" alt="">
                </div>
            </div>
            
            <div class="reason col l-12 m-12 c-12">
                <h1>VÌ SAO NÊN CHỌN CHÚNG TÔI?</h1>
            </div>
            
            <div class="row sm-gutter col">
                <!-- List reason -->
                <div class="col l-6 m-12 c-12  ">
                    <div class="reason-item">
                        <div class="reason-item__img">
                            <img src="/images/quatify.png" alt="">
                        </div>
                        <div class="reason-item__content">
                            <h3>CHẤT LƯỢNG</h3>
                            <p>Các sản phẩm được sản xuất trên dây chuyền hiện đại tại Minh Nhựt đều đạt tiêu chuẩn chất lượng an toàn theo đúng quy định</p>
                        </div>
                    </div>
                </div>
                <div class="col l-6 m-12 c-12 ">
                    <div class="reason-item">
                        <div class="reason-item__img">
                            <img src="/images/pro.png" alt="">
                        </div>
                        <div class="reason-item__content">
                            <h3>CHUYÊN NGHIỆP</h3>
                            <p>Đội ngũ công nhân, kỹ sư có chuyên môn, sản xuất và thiết kế các sản phẩm theo yêu cầu, đáp ứng mọi mong đợi của Quý khách</p>
                        </div>
                    </div>
                </div>
                <div class="col l-6 m-12 c-12 ">
                    <div class="reason-item">
                        <div class="reason-item__img">
                            <img src="/images/shipping.png" alt="">
                        </div>
                        <div class="reason-item__content">
                            <h3>VẬN CHUYỂN</h3>
                            <p>Giao hàng tới hàng ngàn tổ chức, doanh nghiệp đa ngành từ Bắc vào Nam, có nhiều ưu đãi với các đơn hàng lớn</p>
                        </div>
                    </div>
                </div>
                <div class="col l-6 m-12 c-12 ">
                    <div class="reason-item">
                        <div class="reason-item__img">
                            <img src="/images/money.png" alt="">
                        </div>
                        <div class="reason-item__content">
                            <h3>GIÁ CẢ</h3>
                            <p>Chúng tôi cam kết cung cấp sản phẩm chất lượng với giá cả cạnh tranh nhất, giúp bạn tiết kiệm chi phí mà vẫn đảm bảo chất lượng và sự hài lòng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>