<div class="footer">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="col l-2 m-0">
                <img src="/images/logo.png" alt="" class="footer__logo">
            </div>
            <div class="col l-4 m-5">
                <h3 class="footer__contact-title">Thông tin liên hệ</h3>
                <div class="location footer__contact-content">
                    <p>Địa chỉ: 339/5 Nguyễn Thái Bình, P.12, Q.Tân Bình, TP.Hồ Chí Minh</p>
                </div>
                <div class="email footer__contact-content">
                    <p>Email: baobiminhnhut@yahoo.com.vn</p>
                </div>
                <div class="telephone footer__contact-content">
                    <div class="telephone-number">
                        <p>Hotline: 0903784871</p>
                        <p>Tổng đài: 0379060703</p>
                        <p>Điện thoại: 02838117357 0903784871</p>
                    </div>
                </div>
            </div>
            <div class="col l-2 m-3">
                <h3 class="footer__product-title">Bao bì may mặc</h3>
                <div class="footer__product-item">
                    <a href="">HDPE</a>
                    <a href="">LDPE</a>
                </div>
                <div class="footer__product-item">
                    <a href="">OPP</a>
                </div>
                <div class="footer__product-item">
                    <a href="">PP</a>
                </div>
                <div class="footer__product-item">
                    <a href="">Túi in</a>
                </div>
            </div>
            <div class="col l-4 m-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.196621986981!2d106.65003137580148!3d10.796247689353674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294a09e5652d%3A0xc34f0ecce461cd67!2zMzM5LzUgTmd1eeG7hW4gVGjDoWkgQsOsbmgsIFBoxrDhu51uZyAxMiwgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1712148091683!5m2!1svi!2s" 
                class="footer__map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="sub-footer">
    <div class="grid wide">
        <div class="col l-12">
            <p class="footer-license">© Bản quyền thuộc về CÔNG TY TNHH BAO BÌ MINH NHỰT </p>
        </div>
    </div>
</div>