<header class="header">
    <div class="header-top">
        <div class="list-icon-mobile"><i class="bi bi-list"></i></div>
        <a href="/" class="logo"></a>
        <div class="header-top__search hide-on-mobile">
            <input type="text" placeholder="Tìm kiếm...">
            <i class="bi bi-search"></i>
        </div>
        <div class="header-top__hotline hide-on-mobile">
            <p>Hotline hỗ trợ từ khách hàng</p>
            <div class="header-top__hotline-telephoneNumber">
                <i class="bi bi-telephone-fill"></i>
                <p class="header-top phoneNumber">0903784871</p>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <ul class="header-nav__list hide-on-mobile">
            <div class="header-nav__list-search">
                <input type="text" placeholder="Tìm kiếm...">
                <i class="bi bi-search"></i>
            </div>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/introduce">Giới thiệu</a></li>
            <li class="sub-nav">
                <a href="/product">Sản phẩm 
                </a>
                <!-- List product -->
                <ul class="sub-nav__list">
                    <li><a href="">HDPE, LDPE</a></li>
                    <li><a href="">OPP</a></li>
                    <li><a href="">PP</a></li>
                    <li><a href="">Túi in</a></li>
                </ul>
            </li>
            <li><a href="/contact">Liên hệ</a></li>
            <li><a href="/news">Tin tức</a></li>
        </ul>
        <div class="overlay">
            <button class="btn-close-nav">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>
</header>