<div class="product">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="product-title col l-12 m-12 c-12">
                <h1>FEATURED PRODUCTS</h1>
            </div>
        </div>

        <!-- List product -->
        <div class="product-list-container row sm-gutter">
            <div class="product-control col l-1 m-0 c-0">
                <div class="product-control-prev">
                    <i class="bi bi-chevron-left"></i>
                </div>
            </div>

            <div class="col l-10 m-12 c-12">
                <div class="product-list">
                    <div class="row sm-gutter">
                        <div class="col l-3 m-6 c-12">
                            <a href="" class="product-item">
                                <img src="/images/hdpe.jpg" alt="">
                                <div class="product-item__container">
                                    <h4>HDPE</h4>
                                    <p>$999.00</p>
                                    <button>Mua ngay</button>
                                </div>
                            </a>
                        </div>
            
                        <div class="col l-3 m-6 c-0">
                            <a href="" class="product-item">
                                <img src="/images/hdpe.jpg" alt="">
                                <div class="product-item__container">
                                    <h4>HDPE</h4>
                                    <p>$999.00</p>
                                    <button>Mua ngay</button>
                                </div>
                            </a>
                        </div>
            
                        <div class="col l-3 m-0 c-0">
                            <a href="" class="product-item">
                                <img src="/images/hdpe.jpg" alt="">
                                <div class="product-item__container">
                                    <h4>HDPE</h4>
                                    <p>$999.00</p>
                                    <button>Mua ngay</button>
                                </div>
                            </a>
                        </div>
            
                        <div class="col l-3 m-0 c-0">
                            <a href="" class="product-item">
                                <img src="/images/hdpe.jpg" alt="">
                                <div class="product-item__container">
                                    <h4>HDPE</h4>
                                    <p>$999.00</p>
                                    <button>Mua ngay</button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-control col l-1 m-0 c-0">
                <div class="product-control-next">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>

        <div class="row sm-gutter">
            <div class="dot-icon col l-12 m-12 c-12">
                <i class="bi bi-dot dot--active"></i>
                <i class="bi bi-dot"></i>
                <i class="bi bi-dot"></i>
            </div>
        </div>
    </div>
</div>